/* STYLESHEETS IMPORT */

@import url('/assets/css/styles-reset.css');
@import url('/assets/css/styles-common.css');

/* **************************************************************************************************** */

/* COMMON STYLES MODIFICATION START */

.main-container {
    grid-template-areas:
        'header header header header header'
        'main main main main main'
        'main main main main main'
        'main main main main main'
        'footer footer footer footer footer';
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.3fr repeat(3, 1fr) 0.6fr;
    max-height: 100vh;
}

/* COMMON STYLES MODIFICATION END */

/* **************************************************************************************************** */

/* PAGE SPECIFIC STYLES START */

/* PAGE SPECIFIC STYLES END */

/* **************************************************************************************************** */

/* MEDIA QUERIES START */

@media only screen and (max-width: 1200px) {
    .login-signup-section {
        width: 30%;
    }
}

@media only screen and (max-width: 1024px) {
    .main-container {
        grid-template-rows: 0.6fr repeat(3, 2fr) 1.2fr;
    }

    .header {
        align-items: center;
        justify-content: center;
    }

    .login-signup-section {
        width: 40%;
    }
}

@media only screen and (max-width: 700px) {
    .main-container {
        grid-template-rows: 0.6fr repeat(3, 1fr) 0.6fr;
        max-height: unset;
    }
}

@media only screen and (max-width: 650px) {
    .login-signup-section {
        width: 60%;
    }
}

@media only screen and (max-width: 450px) {
    .login-signup-section {
        width: 80%;
    }
}

/* MEDIA QUERIES END */

/* **************************************************************************************************** */
