<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Candelify Cart</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="/assets/img/logo.png"
        />
        <link rel="stylesheet" href="/assets/css/cart.css" />
        <link
            rel="stylesheet"
            href="https://candel-css.netlify.app/assets/css/components.css"
        />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="main-container">
            <header class="header">
                <div class="header-item">
                    <a class="brand-name" href="/index.html">Candelify</a>
                </div>

                <div class="header-item relative">
                    <input
                        type="text"
                        name="searchText"
                        id="searchText"
                        placeholder="Search"
                        class="searchbar"
                    />

                    <div class="badge badge-center-right">
                        <i class="fas fa-search fa-lg"></i>
                    </div>
                </div>

                <nav class="header-item">
                    <ul class="list list-spaced list-navbar">
                        <li>
                            <a class="styled-link" href="/templates/login.html"
                                >Login/Signup</a
                            >
                        </li>
                        <li>
                            <a
                                class="styled-link-2 relative"
                                href="/templates/wishlist.html"
                                ><i class="far fa-heart fa-lg"></i>
                                <div
                                    class="badge primary badge-sm badge-outside-top-right"
                                >
                                    10
                                </div>
                            </a>
                        </li>
                        <li>
                            <a
                                class="styled-link-2 relative"
                                href="/templates/cart.html"
                                ><i class="fas fa-shopping-cart fa-lg"></i>
                                <div
                                    class="badge primary badge-sm badge-outside-top-right"
                                >
                                    10
                                </div></a
                            >
                        </li>
                        <li>|</li>
                        <li>
                            <a
                                class="styled-link"
                                href="https://github.com/tonymike99/candelify"
                                target="_blank"
                                ><i class="fab fa-github fa-lg"></i
                            ></a>
                        </li>
                        <li>
                            <a class="styled-link" href="#"
                                ><i id="theme-icon" class="fas fa-sun fa-lg"></i
                            ></a>
                        </li>
                    </ul>
                </nav>
            </header>

            <aside class="aside">
                <h2 class="text-bold text-center">PRICE DETAILS</h2>

                <hr class="hr-thin" />

                <div class="total-price">
                    <p>Total price</p>
                    <p>Rs 1000</p>
                </div>

                <div class="total-discount">
                    <p>Total discount</p>
                    <p>- Rs 200</p>
                </div>

                <div class="delivery-charges">
                    <p>Delivery charges</p>
                    <p>Rs 100</p>
                </div>

                <hr class="hr-thin" />

                <div class="effective-price">
                    <p class="text-bold">EFFECTIVE PRICE</p>
                    <p class="text-bold">Rs 900</p>
                </div>

                <hr class="hr-thin" />

                <small class="text-center">You save Rs 200 on this order</small>

                <button class="btn btn-primary btn-width-100" type="submit">
                    PLACE ORDER
                </button>
            </aside>

            <main class="main">
                <section class="flex-center">
                    <div class="section-header">
                        <p class="text-bold">Showing all products</p>
                    </div>

                    <div class="card card-horizontal card-stretched">
                        <div class="card-left-content">
                            <img
                                class="image-responsive"
                                src="https://unsplash.com/photos/GREEBEtyR9Y/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjJ8fHQlMjBzaGlydHxlbnwwfDF8fHwxNjQ0NjQyMDI1&force=true&w=640"
                                alt="An image of a man in a white t-shirt"
                            />
                        </div>

                        <div class="card-right-content">
                            <div class="card-body">
                                <h4 class="text-bold text-muted">
                                    Men's Premium Shirt
                                </h4>
                                <h3 class="text-bold">Rs 500</h3>
                                <small class="text-bold text-muted"
                                    >50% off</small
                                >
                                <p>
                                    Quantity:
                                    <button
                                        class="btn round btn-secondary btn-floating"
                                    >
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    1
                                    <button
                                        class="btn round btn-primary btn-floating"
                                    >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </p>
                            </div>

                            <div class="card-footer">
                                <button
                                    class="btn btn-secondary-outline btn-width-100"
                                >
                                    Save to wishlist
                                </button>

                                <button class="btn btn-danger btn-width-100">
                                    Remove from cart
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="card card-horizontal card-stretched">
                        <div class="card-left-content">
                            <img
                                class="image-responsive"
                                src="https://unsplash.com/photos/GREEBEtyR9Y/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8MjJ8fHQlMjBzaGlydHxlbnwwfDF8fHwxNjQ0NjQyMDI1&force=true&w=640"
                                alt="An image of a man in a white t-shirt"
                            />
                        </div>

                        <div class="card-right-content">
                            <div class="card-body">
                                <h4 class="text-bold text-muted">
                                    Men's Premium Shirt
                                </h4>
                                <h3 class="text-bold">Rs 500</h3>
                                <small class="text-bold text-muted"
                                    >50% off</small
                                >
                                <p>
                                    Quantity:
                                    <button
                                        class="btn round btn-secondary btn-floating"
                                    >
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    1
                                    <button
                                        class="btn round btn-primary btn-floating"
                                    >
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </p>
                            </div>

                            <div class="card-footer">
                                <button
                                    class="btn btn-secondary-outline btn-width-100"
                                >
                                    Save to wishlist
                                </button>

                                <button class="btn btn-danger btn-width-100">
                                    Remove from cart
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <footer class="footer">
                <div class="footer-item">
                    <small
                        >Made with
                        <span
                            ><i class="fas fa-heart footer-heart-icon"></i
                        ></span>
                        and
                        <span
                            ><i class="fas fa-code footer-code-icon"></i
                        ></span>
                        by</small
                    >
                </div>

                <div class="footer-item">
                    <span class="my-name">Tony Mike Auxen</span>
                </div>

                <div class="footer-item footer-icons">
                    <a
                        class="social-icon"
                        href="https://github.com/tonymike99/"
                        target="_blank"
                        ><i
                            class="fab fa-github fa-lg footer-github-icon"
                            aria-hidden="true"
                        ></i
                    ></a>

                    <a
                        class="social-icon"
                        href="https://linkedin.com/in/tonymike99"
                        target="_blank"
                    >
                        <i
                            class="fab fa-linkedin-in fa-lg footer-linkedin-icon"
                            aria-hidden="true"
                        ></i
                    ></a>

                    <a
                        class="social-icon"
                        href="https://twitter.com/tonymike07"
                        target="_blank"
                        ><i
                            class="fab fa-twitter fa-lg footer-twitter-icon"
                            aria-hidden="true"
                        ></i
                    ></a>

                    <a
                        class="social-icon"
                        href="mailto:tonymike99@gmail.com"
                        target="_blank"
                        ><i
                            class="fas fa-envelope fa-lg footer-email-icon"
                            aria-hidden="true"
                        ></i
                    ></a>
                </div>

                <div class="footer-item">
                    <small>No copyright &copy issues. Feel free to copy.</small>
                </div>
            </footer>
        </div>

        <script src="/assets/js/theme.js"></script>
    </body>
</html>
