<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Candelify Signup</title>
        <link
            rel="shortcut icon"
            type="image/png"
            href="/assets/img/logo.png"
        />
        <link rel="stylesheet" href="/assets/css/signup.css" />
        <link
            rel="stylesheet"
            href="https://candel-css.netlify.app/assets/css/components.css"
        />
        <script
            src="https://kit.fontawesome.com/dc21c76de2.js"
            crossorigin="anonymous"
        ></script>
    </head>

    <body>
        <div class="main-container">
            <header class="header">
                <div class="header-item">
                    <a class="brand-name" href="/index.html">Candelify</a>
                </div>

                <nav class="header-item">
                    <ul class="list list-spaced list-navbar">
                        <li>
                            <a class="styled-link" href="/templates/login.html"
                                >Login/Signup</a
                            >
                        </li>
                        <li>
                            <a
                                class="styled-link-2 relative"
                                href="/templates/wishlist.html"
                                ><i class="far fa-heart fa-lg"></i>
                                <div
                                    class="badge primary badge-sm badge-outside-top-right"
                                >
                                    10
                                </div>
                            </a>
                        </li>
                        <li>
                            <a
                                class="styled-link-2 relative"
                                href="/templates/cart.html"
                                ><i class="fas fa-shopping-cart fa-lg"></i>
                                <div
                                    class="badge primary badge-sm badge-outside-top-right"
                                >
                                    10
                                </div></a
                            >
                        </li>
                        <li>|</li>
                        <li>
                            <a
                                class="styled-link"
                                href="https://github.com/tonymike99/candelify"
                                target="_blank"
                                ><i class="fab fa-github fa-lg"></i
                            ></a>
                        </li>
                        <li>
                            <a class="styled-link" href="#"
                                ><i id="theme-icon" class="fas fa-sun fa-lg"></i
                            ></a>
                        </li>
                    </ul>
                </nav>
            </header>

            <main class="main">
                <section class="login-signup-section">
                    <h2 class="font-montserrat margin-bottom-2">SIGN UP</h2>

                    <form class="form-spacing" action="#">
                        <input type="text" id="nameInput" placeholder="Name" />

                        <input
                            type="tel"
                            id="phoneInput"
                            placeholder="Phone Number"
                        />

                        <input
                            type="email"
                            id="emailInput"
                            placeholder="Email Address"
                        />

                        <input
                            type="password"
                            id="passwordInput"
                            placeholder="Password"
                        />

                        <button
                            class="btn btn-primary btn-width-100"
                            type="submit"
                        >
                            Sign up
                        </button>

                        <small>
                            Have an account?
                            <a class="styled-link" href="/templates/login.html"
                                >Log in</a
                            ></small
                        >
                    </form>
                </section>
            </main>

            <footer class="footer">
                <div class="footer-item">
                    <small
                        >Made with
                        <span
                            ><i class="fas fa-heart footer-heart-icon"></i
                        ></span>
                        and
                        <span
                            ><i class="fas fa-code footer-code-icon"></i
                        ></span>
                        by</small
                    >
                </div>

                <div class="footer-item">
                    <span class="my-name">Tony Mike Auxen</span>
                </div>

                <div class="footer-item footer-icons">
                    <a
                        class="social-icon"
                        href="https://github.com/tonymike99/"
                        target="_blank"
                        ><i
                            class="fab fa-github fa-lg footer-github-icon"
                            aria-hidden="true"
                        ></i
                    ></a>

                    <a
                        class="social-icon"
                        href="https://linkedin.com/in/tonymike99"
                        target="_blank"
                    >
                        <i
                            class="fab fa-linkedin-in fa-lg footer-linkedin-icon"
                            aria-hidden="true"
                        ></i
                    ></a>

                    <a
                        class="social-icon"
                        href="https://twitter.com/tonymike07"
                        target="_blank"
                        ><i
                            class="fab fa-twitter fa-lg footer-twitter-icon"
                            aria-hidden="true"
                        ></i
                    ></a>

                    <a
                        class="social-icon"
                        href="mailto:tonymike99@gmail.com"
                        target="_blank"
                        ><i
                            class="fas fa-envelope fa-lg footer-email-icon"
                            aria-hidden="true"
                        ></i
                    ></a>
                </div>

                <div class="footer-item">
                    <small>No copyright &copy issues. Feel free to copy.</small>
                </div>
            </footer>
        </div>

        <script src="/assets/js/theme.js"></script>
    </body>
</html>
